
       
       
       <p> The roles of light environment, colouration, and colour vision have been fundamental questions in animal
          ecology for the last several decades. More
          recently, researchers have also taken interest in how anthropogenic disturbances in light environments may
          influence the behaviour and welfare of wild animals.
          The research projects that require the quantification of colours typically require thousands of spectral
          measurements. But the datasets that are available through repositories are not curated in a way that makes
          them searchable and/or do not provide the metadata that would easily allow their inclusion in other
          studies.<br>
          This advance digital repository will provide a curatorial pipeline that will allow researchers to easily
          supply their spectral data without going through onerous data processing. </p>
          <p>test </p>
