<div class="container">
  <div class="album py-5 ">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <svg
            class="bd-placeholder-img card-img-top"
            width="100%"
            height="300"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
            role="img"
            aria-label="Placeholder: Thumbnail"
          >
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
          </svg>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <svg
            class="bd-placeholder-img card-img-top"
            width="100%"
            height="300"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
            role="img"
            aria-label="Placeholder: Thumbnail"
          >
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
          </svg>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <svg
            class="bd-placeholder-img card-img-top"
            width="100%"
            height="300"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
            role="img"
            aria-label="Placeholder: Thumbnail"
          >
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
          </svg>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
      <a href="#Specify_a_Hyperlink_Target_href">
        <svg
          class="bd-placeholder-img rounded-circle"
          width="200"
          height="200"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          role="img"
          aria-label="Placeholder: 140x140"
        >
          <title>Search</title>
          <rect width="100%" height="100%" fill="#777"></rect>
          <text x="50%" y="50%" fill="white" dy=".5em" dx="-1.8em">Search</text>
        </svg>
      </a>
    </div>
    <!-- /.col-md-3 -->

    <div class="col-md-3">
      <a href="#Specify_a_Hyperlink_Target_href">
        <svg
          class="bd-placeholder-img rounded-circle"
          width="200"
          height="200"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          role="img"
          aria-label="Placeholder: 140x140"
        >
          <title>Join</title>
          <rect width="100%" height="100%" fill="#777"></rect>
          <text x="50%" y="50%" fill="white" dy=".5em" dx="-1em">Join</text>
        </svg>
      </a>
    </div>
    <!-- /.col-md-3 -->

    <div class="col-md-3">
      <a routerLink="/upload">
        <svg
          class="bd-placeholder-img rounded-circle"
          width="200"
          height="200"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          role="img"
          aria-label="Placeholder: 140x140"
        >
          <title>Upload Data</title>
          <rect width="100%" height="100%" fill="#777"></rect>
          <text x="50%" y="50%" fill="white" dy=".5em" dx="-2em">
            Upload Data
          </text>
        </svg>
      </a>
    </div>
    <!-- /.col-md-3 -->
  </div>

  <div class="card mb-4 mt-4 shadow-lg">
    <div class="card-body">
      <h2 class="featurette-heading">Why use Natures Palette</h2>
      The roles of light environment, colouration, and colour vision have been
      fundamental questions in animal ecology for the last several decades. More
      recently, researchers have also taken interest in how anthropogenic
      disturbances in light environments may influence the behaviour and welfare
      of wild animals. The research projects that require the quantification of
      colours typically require thousands of spectral measurements. But the
      datasets that are available through repositories are not curated in a way
      that makes them searchable and/or do not provide the metadata that would
      easily allow their inclusion in other studies.<br />
      This advance digital repository will provide a curatorial pipeline that
      will allow researchers to easily supply their spectral data without going
      through onerous data processing.
    </div>
  </div>
</div>
