<div class="row">
  <div class="col-md-10">
    <span >{{submissions.length}} submissions</span>
  </div>
</div>

<table *ngIf="submissions.length != 0" class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">RAW Data File Name</th>
      <th scope="col">Meta Data File Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let submission of submissions; index as i"> <!-- adding of to retrive data -->
      <td>{{ submission.rawDataFile }}</td>
      <td>{{ submission.metaDataFile }}</td>
      <td><button type="button" id="modifieButton" class="btn btn-primary" data-toggle="modal" data-target="#uploadFilesModal">Modifie</button></td>
    </tr>
  </tbody>
</table>


<div class="modal fade" id="uploadFilesModal" style="min-height: 80vh !important;" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Submission: Upload files</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="min-height: 65vh;">
        <form>
          <div class="form-row">
            <div class="col-md-12">
              <p class="text-info">Select your Metadata file</p>
              <form id="uploadForm">
                <div class="input-group mb-4">
                  <div class="custom-file">
                    <label class="custom-file-label" for="metadatafile">{{this.metaDataFilename}}</label>
                    <input (change)="metadataFileChanged($event)" type="file" class="form-control" id="metadatafile"
                      aria-describedby="metadatafile">

                  </div>
                </div>
              </form>
            </div>

            <div class="col-md-12">
              <p class="text-info">Select your Rawdata file</p>
              <form id="uploadForm">
                <div class="input-group mb-4">
                  <div class="custom-file">
                    <label class="custom-file-label" for="rawdatafile">{{this.rawFileName}}</label>
                    <input (change)="rawFileChanged($event)" type="file" class="" id="rawdatafile"
                      aria-describedby="selectedfile">
                  </div>
                </div>
              </form>
              <button class="btn btn-primary text-white mr-1" (click)=uploadForValidation() style="width: 50%;">
                Upload Files for validation
              </button>
              <button class="btn btn-secondary text-white" (click)=validate() *ngIf="this.isFilesUploadedForValidation">
                Validate Files
              </button>
            </div>
          </div>
        </form>

        <div *ngIf="(this.validationStatus.isValidated) && (this.validationStatus.messages[0])"
          style="overflow-wrap: break-word;">
          <div *ngFor="let message of this.validationStatus.messages" class="alert alert-success mt-2" role="alert">
            {{message}}
          </div>
        </div>

        <div *ngIf="(!this.validationStatus.isValidated) && (this.validationStatus.messages[0])"
          style="overflow-wrap: break-word;">
          <div *ngFor="let message of this.validationStatus.messages" class="alert alert-danger mt-2" role="alert">
            {{message}}
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" [disabled]="!this.isValidated"
          (click)="saveSubmissionInformation()" data-dismiss="modal" onclick="$('#modal1').modal('hide')">Confirm File
          submission</button>
      </div>
    </div>
  </div>
</div>